<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustBreath"
        tools:targetApi="31">
        <activity
            android:name=".FavBoxBreathing"
            android:exported="false"
            android:label="@string/title_activity_fav_box_breathing"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".FavFSEBreath"
            android:exported="false"
            android:label="@string/title_activity_fav_fsebreath"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".FavMindfulBreathing"
            android:exported="false"
            android:label="@string/title_activity_fav_mindful_breathing"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".MainList"
            android:exported="false"
            android:label="@string/title_activity_main_list"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".BoxBreathing"
            android:exported="false"
            android:label="@string/title_activity_box_breathing"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".FSEBreath"
            android:exported="false"
            android:label="@string/title_activity_fsebreath"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".MindfulBreathing"
            android:exported="false"
            android:label="@string/title_activity_mindful_breathing"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.JustBreath" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.JustBreath">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>